#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

.mr.developer.cfg

# Mac crap
.DS_Store

# Other
.svn
localscores.scr